.ticketscreen {
  @apply pt-32;
  height: 100%;
  overflow-y: scroll;
  width: 100vw;
  &_maincontainer {
    @apply px-6 w-full;
    &_title {
      @apply text-2xl font-bold;
    }
  }
  &_eventcontainer {
    &_event {
      @apply flex flex-col rounded-xl;
      //   background-color: #1d2126;
      &_imagecontainer {
        background-color: #181b1f;
        @apply rounded-xl w-full flex justify-center items-center;
        min-height: 182px !important;
        min-width: 140px !important;
        max-width: 140px !important;
      }
      &_detailscontainer {
        @apply p-2 flex flex-col;
        &_highlighttext {
          font-size: 9px;
          color: #eb5757;
        }
        &_title {
          @apply text-xl font-bold pb-2;
        }
        &_subtitle {
          font-size: 16px;
          @apply flex items-center;
        }

        &_subtext {
          font-size: 16px;
          @apply flex items-center text-center;
          color: #a9a9a9;
        }
      }
    }
  }
  &_redeemablecontainer{
    @apply flex justify-between items-center px-4 py-6 rounded-md;
    background-color: #1d2126;
    &_text{
        @apply font-semibold;
    }
    &_button{
        @apply flex justify-center items-center px-4 py-2 rounded-md;
        background-color: #181b1f;
    }
  }
  &_nftcontainer {
    &_event {
      @apply flex flex-row w-full justify-start items-start rounded-xl;
      background-color: #1d2126;
      &_imagecontainer {
        background-color: #181b1f;
        @apply h-40 w-40 rounded-xl flex justify-center items-center;
      }
      &_detailscontainer {
        @apply p-2;
        &_highlighttext {
          font-size: 9px;
          color: #eb5757;
        }
        &_title {
          @apply text-xs font-bold py-2;
        }
        &_subtitle {
          font-size: 10px;
          @apply flex items-center text-center;
        }

        &_subtext {
          font-size: 10px;
          @apply flex items-center text-center;
          color: #a9a9a9;
        }
        &_buycontainer{
            @apply flex justify-center items-center text-center p-3 text-sm mt-2 rounded-lg;
            background-color: #181b1f;
        }
      }
    }
  }
}
